.footer-encabezado::after{
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #FFD940;
    margin-top: 5px;
    margin-bottom: 10px;
}
.footer-options{
    font-size: 12px;
}
.footer-encabezado-left{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.footer-encabezado-left::before{
    content: "";
    display: block;
    height: 15px;
    width: 2px;
    background-color: #FFD940;
    margin-right: 5px;
}
.footer-copy{
    font-size: 12px;
    padding-bottom: 15px;
}